
.form-item-warp {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-item {
  display: flex;
}

.form-default-layout, .form-vertical {
  flex-direction: column;
  .form-item-label {
    padding-bottom: 8px;
  }
}

.form-horizontal {
  flex-direction: row;
  .form-item-label {
    padding-right: 12px;
  }
}

.form-hidden {
  display: none !important;
}

:global {
  .form-layout-horizontal {
    :local {
      .form-default-layout  {
        flex-direction: row;
        .form-item-label {
          padding-bottom: 0;
          padding-right: 12px;
        }
      }
    }
  }
}


@keyframes fadeInDown {
  0% {
    transform: translate3d(0, -20%, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.form-error-warp {
  .form-error {
    color: #fc685e;
    animation: fadeInDown .3s;
  }
}

.form-item-label {
  font-size: 14px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.required-mark-optional {
  &::before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }
}

